!!!
%html
  %head
    %title Web Dev Talks
    = favicon_link_tag
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    = csrf_meta_tags
  %body
    = yield
